@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <h2>To Time Management System TMS</h2>
</div>
<div class="row">
    <div class="col-md-12"
         style="background-image: url(https://uciepro.files.wordpress.com/2010/09/mtoyl-clock.png)" align="justify">
        <img src="https://uciepro.files.wordpress.com/2010/09/mtoyl-clock.png" alt="TMS" class="clip-svg">
    </div>
</div>